<!-- .portfolio -->
<div id="portfolio" class="content_2">
    
    <!-- .title -->
    <h1 class="h-bloc">Portfolio - My Projects</h1>

    <!-- .container-portfolio -->
    <div class="container-portfolio">

        <!-- #filters -->
        <ul id="filters" class="clearfix">
            <li><span class="filter active" data-filter="catWeb catGraphic catMotion logo">All</span></li>
            <li><span class="filter" data-filter="catWeb">iVEMS</span></li>
            <li><span class="filter" data-filter="catGraphic">Quadcopter Obstacale avoidance with path planning</span></li>
            <li><span class="filter" data-filter="catMotion">Power line detection for drones</span></li>
            <li><span class="filter" data-filter="logo">ShapeShift - Robotic snake</span></li>
            <li><span class="filter" data-filter="stroller">GoStroller</span></li>

        </ul>
        <!-- /#filters -->

        <!-- #portfoliolist -->
        <div id="portfoliolist">

            <!-- .portfolio -->
            <div class="portfolio catWeb" data-cat="catWeb">	
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">		
                    <a href="images/portfolio/1.jpg" rel="portfolio" title="iVEMS">
                        <img src="images/portfolio/1.jpg" alt="Exploded view - iVEMS installed on car exhaust" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">iVEMS(intelligent Vehicle Emission Management System)</a>
                                <span class="text-category"></span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>		
            <!-- /.portfolio -->



            <!-- .portfolio -->
            <div class="portfolio catWeb" data-cat="catWeb">	
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">		
                    <a href="http://www.youtube.com/watch?v=c9MnSeYYtYY" rel="portfolio">

                        <img src="images/portfolio/2.jpg" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">iVEMS(intelligent Vehicle Emission Management System)</a>
                                <span class="text-category">iVEMS</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>		
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catWeb" data-cat="catWeb">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">			
                    <a href="images/portfolio/3.jpg" rel="portfolio">
                        <img src="images/portfolio/3.jpg" alt="Custom microcontroller PCBA for the iVEMS" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">iVEMS(intelligent Vehicle Emission Management System)</a>
                                <span class="text-category">iVEMS</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>				
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catMotion" data-cat="catMotion">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">			
                    <a href="images/portfolio/8.jpg" rel="portfolio">
                        <img src="images/portfolio/8.jpg" alt="powerlines" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Power line detection for drones</a>
                                <span class="text-category">Power line detection for drones</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>	
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catWeb" data-cat="catWeb">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/4.jpg" title="iVEMS_Sensor" rel="portfolio">
                        <img src="images/portfolio/4.jpg" alt="Weatherette" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">iVEMS(intelligent Vehicle Emission Management System)</a>
                                <span class="text-category">iVEMS</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>	
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catMotion" data-cat="catMotion">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">		
                    <a href="images/portfolio/9.jpg" rel="portfolio">				
                        <img src="images/portfolio/9.jpg" alt="powerlines" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Power line detection for drones</a>
                                <span class="text-category">Power line detection for drones</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>	
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catGraphic" data-cat="catGraphic">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">		
                    <a href="images/portfolio/7.jpg" title="Drone obstacle avoidance">				
                        <img src="images/portfolio/7.jpg" alt="Techlion" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Drone obstacle avoidance</a>
                                <span class="text-category">Quadcopter Obstacale avoidance with path planning</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio logo" data-cat="logo">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">		
                    <a href="images/portfolio/10.jpg" rel="portfolio" title="obstacle search">
                        <img src="images/portfolio/10.jpg" alt="ShapeShift" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">ShapeShift</a>
                                <span class="text-category">Robotic Snake</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>	
            <!-- /.portfolio -->


            <!-- .portfolio -->
            <div class="portfolio logo" data-cat="logo">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">		
                    <a href="images/portfolio/14.png" rel="portfolio" title="render">
                        <img src="images/portfolio/14.png" alt="ShapeShift" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">ShapeShift</a>
                                <span class="text-category">Robotic Snake</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>	
            <!-- /.portfolio -->            
        
            <!-- .portfolio -->
            <div class="portfolio logo" data-cat="logo">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">		
                    <a href="images/portfolio/15.png" rel="portfolio" title="render">
                        <img src="images/portfolio/15.png" alt="ShapeShift" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">ShapeShift</a>
                                <span class="text-category">Robotic Snake</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>	
            <!-- /.portfolio --> 
        
            <!-- .portfolio -->
            <div class="portfolio logo" data-cat="logo">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">		
                    <a href="images/portfolio/16.png" rel="portfolio" title="render">
                        <img src="images/portfolio/16.png" alt="ShapeShift" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">ShapeShift</a>
                                <span class="text-category">2 Robots collaborating together to transport</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>	
            <!-- /.portfolio --> 
            
                    
            <!-- .portfolio -->
            <div class="portfolio logo" data-cat="logo">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">		
                    <a href="images/portfolio/17.png" rel="portfolio" title="render">
                        <img src="images/portfolio/17.png" alt="ShapeShift" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">ShapeShift</a>
                                <span class="text-category">2 Robots collaborating together to transport</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>	
            <!-- /.portfolio --> 
            
            <!-- .portfolio -->
            <div class="portfolio catWeb" data-cat="catWeb">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">			
                    <a href="images/portfolio/5.jpg" title="sensors" rel="portfolio">
                        <img src="images/portfolio/5.jpg" alt="sensors" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">iVEMS(intelligent Vehicle Emission Management System)</a>
                                <span class="text-category">iVEMS</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>	
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catGraphic" data-cat="catGraphic">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">	
                    <a href="images/portfolio/6.jpg" rel="portfolio">
                        <img src="images/portfolio/6.jpg" alt="Drone obstacle avoidance" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Drone obstacle avoidance</a>
                                <span class="text-category">Quadcopter Obstacale avoidance with path planning</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>	
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio logo" data-cat="logo">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">	
                    <a href="images/portfolio/11.jpg" title="obstacle tracking" rel="portfolio">
                        <img src="images/portfolio/11.jpg" alt="Mobi Sock" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">ShapeShift</a>
                                <span class="text-category">Robotic Snake</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>	
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio logo" data-cat="logo">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/12.jpg" rel="portfolio">
                        <img src="images/portfolio/12.jpg" alt="obstacle avoidance" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">ShapeShift</a>
                                <span class="text-category">Robotic Snake</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>	
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio logo" data-cat="stroller">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/18.png" rel="portfolio">
                        <img src="images/portfolio/19.png" alt="Stroller render" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">GoStroller</a>
                                <span class="text-category">Stairclimbing stroller</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>	
            <!-- /.portfolio -->            

            <!-- .portfolio -->
            <div class="portfolio logo" data-cat="stroller">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/19.png" rel="portfolio">
                        <img src="images/portfolio/19.png" alt="Stroller render" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">GoStroller</a>
                                <span class="text-category">Stairclimbing stroller</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>	
            <!-- /.portfolio -->              
            
            <div class="clear"></div>

        </div>
        <!-- #portfoliolist -->
    </div>
    <!-- /.container-portfolio -->
</div>
<!-- End .portfolio -->
